html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* normally 100% but we want it to be 10 px so its 62.5%*/
}
.parent {
  display: flex;
  font-size: 3rem;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

.child {
  font-size: 1rem;
  width: 28%;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}
