html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* normally 100% but we want it to be 10 px so its 62.5%*/
}
h2 {
  margin: 1rem;
}
.header {
  text-align: center;
  color: blanchedalmond;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 32%;
  padding-bottom: 32%;
  margin-bottom: 2%;
  position: relative;
}
.parent {
  display: flex;
  height: 300px;
}

.child {
  width: 100px;
  height: 100px;
  margin: auto;
}
